setuptools
cffi
jupyterlab
jupyterlab-git
jupyterlab-github
jupyterlab-pullrequests
ipywidgets
jupyterlab-pullrequests
xeus-python==0.7.1
ptvsd
jupyter-lsp
python-language-server[all]
jupyterlab-commenting-service
ipyleaflet
jupyterlab_code_formatter
autopep8
nbresuse
plotly
dash
jupyter-dash
jupyterlab_templates
atoti
voila
pushbullet-cli
bash_kernel