[Desktop Entry]
Type=Application
Name=JupyterLab
Exec=systemctl start jupyterlab
Icon=/opt/jupyterhub/share/jupyterhub/static/images/jupyterhub-80.png