[Unit]
    Description=JupyterLab
    After=syslog.target network.target

[Service]
    Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    ExecStart=/home/USER/miniconda3/bin/jupyter-lab
    User=USER

[Install]
    WantedBy=multi-user.target
