[Unit]
Description=JupyterLab

[Service]
User=USER
Group=USER
ExecStart=/home/USER/miniconda3/bin/jupyter lab --notebook-dir="~"

[Install]
WantedBy=default.target