[Unit]
Description=JupyterLab

[Service]
User=USER
Group=USER
ExecStart=/home/USER/miniconda3/bin/jupyter lab

[Install]
WantedBy=default.target

[Install]
WantedBy=multi-user.target